bin/
obj/
.dotnet/
.vs/
.vscode/
*.user
*.suo
*.cache
*.pdb
*.db
*.opendb
*.VC.db
node_modules/
dist/
build/
.env
.env.*
artifacts/
appsettings.Local.json
appsettings.*.Local.json
